.re{margin-top: -50px; margin-left: 120px;}
.yaz{font-size: 30px;color: rgb(2, 43, 2);font-weight: 110;font-family: Arial, Helvetica, sans-serif;font-weight: bold; margin-left: 320px;margin-top: -180px;margin-right: 40px;}
.bas{font-size: 25px;font-size: larger;font-weight: bolder;color: rgb(5, 75, 42);}
.yazı{font-size: 25px;margin-left: 300px;font-weight: 100;margin-top: -30px;}
.hak{font-weight: 250;color:  rgb(15, 92, 56);font-size: larger;font-weight: bolder;margin-top: 100px; margin-left: 200px;}
.kutu1{width: 400px; height: 400px;}
.y{color: black;font-size: 20px;}
.çiz{height: 3px;color: rgb(89, 196, 89);}
.becer{font-size: 30px;margin-top: -170px;font-size: larger;font-weight: bolder;color:rgb(70, 179, 79);margin-top: -160px;margin-left: 8px;}
.beceri{width: 400px;height: 400px;color: black;}
.yap{height: 3px;color: rgb(89, 196, 89);}
.iş{font-size:100px;color: rgb(17, 94, 24);font-size: larger;font-weight: bolder;margin-left: 200px;margin-top: -170px;font-size: 20px;}
.deneyim{width: 400px;height: 400px; margin-left: 200px;}

.ma{color: rgb(14, 85, 20);font-size: large;font-size: 25px;text-align: center;margin-top: 30px;font-weight: bolder;font-size: larger;}
.mat{font-size: 20px;font-size: larger;font-weight: bolder;}
.yapın{height: 3px;color: rgb(89, 196, 89);}
.eğitim{font-size: 30px;font-size: larger;font-weight: bolder;color:rgb(70, 179, 79);text-align:right;margin-top: -999px;margin-right: 300px;}
.yazış{width: 400px;height: 400px;margin-left: 770px;}
.okul{color: black;font-size: 20px;font-size: larger;font-weight: bolder;}
.res{margin-left: 70px;}
.çizgi{height: 3px;color: rgb(89, 196, 89);}
.iletişim{font-size: 30px; font-size: larger;font-weight: bolder;color:rgb(70, 179, 79);text-align: right;margin-right: 320px;margin-top: 50px;}
.kutu3{width: 400px;height: 400px; margin-left: 780px;}
.adres{font-size: 20px;font-size: larger;font-weight: bolder;}
.resim{margin-left: 900px;margin-top: -250px;}